<div class="container" fxLayout="column" fxLayoutAlign="center center">
    <p class="title">Sign in</p>
    <mat-card>
        <mat-card-content>
            <div class="form-inline">
                <div style="margin-left: auto; margin-right: auto; display: grid !important">
                    <input (keyup.enter)="login()" [className]="mailError ? 'is-invalid form-control' : 'form-control'" [(ngModel)]="email" style="margin-bottom: 10px;" type="text" placeholder="Enter your email">
                    <input (keyup.enter)="login()" [className]="passwordError ? 'is-invalid form-control' : 'form-control'" [(ngModel)]="password" style="margin-bottom: 10px;" type="password" placeholder="Enter your password">
                    <div style="margin-bottom: 10px;" *ngIf="textError.length !== 0" class="invalid-feedback">{{textError}}</div>
                    <button [disabled]="connecting" (click)="login()" type="button" class="btn btn-black">Sign in</button>
                </div>
            </div>
            <h1>or</h1>
            <div class="form-inline">
                <div style="margin-left: auto; margin-right: auto;">
                    <button (click)="connectViaGoogle()" type="button" class="btn btn-white" style="margin-right: 1px !important;">
                        <img
                            src="../../../assets/icons/google.svg"
                            alt="Google icon"
                            height="22px"
                            width="22px" />
                        Continue with google
                    </button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
