.title {
    font-size: 5em;//xx-large;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 0;
    color: #000000;
}

mat-card-content {
    width: 530px;
}

h1 {
    width: 70%;
    margin: .7em auto;
    overflow: hidden;
    text-align: center;
    font-weight:300;
    color: black;
}
h1:before, h1:after {
    content: "";
    display: inline-block;
    width: 50%;
    margin: 0 .5em 0 -55%;
    vertical-align: middle;
    border-bottom: 1px solid;
}
h1:after {
    margin: 0 -55% 0 .5em;
}

.btn {
    font-size: 130% !important;
    font-weight: 900 !important;
}