.container {
    max-width: 100% !important;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    background-color: black !important;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.icon {
    width: 5.5em !important;
    height: 5.5em !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-right: 10px;
}

.title {
    font-size: 4em;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 0;
    color: white;
}

.sub-title {
    font-size: 5.5em;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 0;
    color: black;
}

.content {
    font-size: 18px;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 0;
    color: white;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 36em;
    line-height: 1.4;
}

a {
    color:black;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.pointer {
    cursor: pointer !important;
}