.title {
    font-size: 4em;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 0;
    color: #000000;
}

.sub-title {
    font-size: 3em;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 0;
    color: #332e2e;
}

.container {
    padding-top: 100px;
}