<li *ngFor="let element of this.form.form; index as i; trackBy: trackByFn">
    <div *ngIf="isSelectComponent(element)">
        <mat-form-field>
            <mat-label>{{element.selectionBox.title}}</mat-label>
            <mat-select placeholder = "{{element.selectionBox.title}}"
                [(ngModel)]="this.formResponse[element.selectionBox.name]">
                <mat-option *ngFor = "let e of element.selectionBox.values"
                    [value] = "e">
                    {{e}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div *ngIf="isInputComponent(element)">
        <div class="form-group">
            <label for="exampleInputEmail1">{{element.input.title}}</label>
            <input [(ngModel)]="this.formResponse[element.input.name]" (keyup)="onKey($event, i)" type="text" class="form-control" aria-describedby="input" placeholder="" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;">
          </div>
    </div>
</li>
